# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / Editor
.DS_Store
.idea/
.vscode/
Thumbs.db

# Pygame cache or temp
*.log
